// примись выравнивания контента с переменным параметром по горизонтали
// по умолчаниею выравнивание justify-content: space-between  
@mixin flex-position($justify-content: space-between) {
    display: flex;
    align-items: center;
    justify-content: $justify-content; 
}

// Выравнивание в клонну
@mixin flex-direction-column {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

// кнопка
@mixin btn {
    width: 120px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: $btn-color;
    border-radius: 5px;
    border: none;
}