// примись выравнивания контента с переменным параметром по горизонтали
// по умолчаниею выравнивание justify-content: space-between
@mixin flex-position($justify-content: space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

// Выравнивание в клонну
@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// кнопка
@mixin btn {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  background-color: $btn-color;
  border: none;
  border-radius: 5px;
}
