* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "services";
  src: url(../fonts/Spectral/Spectral-Medium.ttf) format("truetype");
}
.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-content {
  flex-grow: 1;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1172px) {
  .wrap {
    width: 735px;
  }
}
@media (max-width: 767px) {
  .wrap {
    width: 375px;
  }
}

.header {
  height: 140px;
  background-image: url("../pic/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #F4F4F4;
  border-bottom: 1px solid rgb(75, 185, 248);
}
.header-wrap {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1172px) {
  .header-wrap img {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 740px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1172px) {
  .header-menu {
    width: 480px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.header-service {
  text-decoration: none;
  color: #222222;
  font-family: "services", Arial, Helvetica, sans-serif;
}
.header-service:hover {
  color: rgb(50, 129, 226);
  transition-duration: 0.6s;
  text-decoration: underline;
}

.system-info {
  padding: 20px 0;
}

.system-info-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.system-info-wrap h1 {
  font-family: "services", Arial, Helvetica, sans-serif;
  color: #222222;
  padding-bottom: 50px;
  font-size: 30px;
}

.about {
  display: flex;
  outline: 2px solid rgb(222, 231, 242);
  border-radius: 10px;
  padding: 10px;
}

.conveyer {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.system-info-text {
  background-color: rgb(222, 231, 242);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: justify;
  font-size: 20px;
}

.services {
  padding: 20px 0;
}

.services-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services-wrap h1 {
  font-family: "services", Arial, Helvetica, sans-serif;
  color: #222222;
  padding-bottom: 30px;
  font-size: 30px;
}

.service-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-field {
  width: 500px;
  height: 30px;
  padding: 12px 30px 12px 16px;
  border-radius: 10px;
  background-color: rgb(222, 231, 242);
  border: none;
  font-size: 16px;
}
@media (max-width: 767px) {
  .form-field {
    width: 300px;
  }
}

.sevice-filter {
  position: relative;
}
@media (max-width: 767px) {
  .sevice-filter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.settings {
  position: absolute;
  fill: rgb(75, 185, 248);
  right: 10px;
  top: 10px;
}
.settings:hover {
  cursor: pointer;
  fill: rgb(50, 129, 226);
  transition-duration: 0.5s;
}
@media (max-width: 767px) {
  .settings {
    right: 10px;
  }
}

.service-form-submit {
  padding: 16px 0;
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .service-form-submit {
    width: 100%;
  }
}

.form-submit {
  width: 120px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(75, 185, 248);
  border-radius: 5px;
  border: none;
}
.form-submit:hover {
  cursor: pointer;
  background-color: rgb(50, 129, 226);
  transition-duration: 0.5s;
}

.programs-items {
  padding-top: 40px;
  padding-bottom: 20px;
}

.programs-wrap {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 1172px) {
  .programs-wrap {
    gap: 20px;
  }
}

.program-link {
  text-decoration: none;
}

.program-item {
  padding: 15px 15px 0 15px;
  width: 200px;
  height: 280px;
  background-color: rgb(222, 231, 242);
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 1px solid rgb(75, 185, 248);
  transition-duration: 0.3s;
}
.program-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(50, 129, 226, 0.21);
}
@media (max-width: 767px) {
  .program-item {
    width: 300px;
    height: 220px;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;
  }
  .program-item:hover {
    box-shadow: 10px 5px 5px rgba(50, 129, 226, 0.21);
  }
}

.program-img {
  border-radius: 20px;
  background-color: rgb(176, 194, 214);
  width: 150px;
  height: 150px;
}

.program-info {
  padding: 15px 0 10px 0;
  text-align: center;
  color: #222222;
}

.program-name {
  font-family: "services";
  font-size: 30px;
  margin-bottom: 10px;
}

.os {
  font-size: 14px;
  margin-bottom: 10px;
}

.raiting {
  font-weight: bold;
  color: rgb(176, 194, 214);
}

.pagination-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.pagination {
  width: 180px;
  height: 30px;
  list-style: none;
  padding: 5px 0;
  border-radius: 5px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pag-link {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  line-height: 19px;
  fill: rgb(75, 185, 248);
}
.pag-link:hover {
  text-decoration: underline;
  fill: rgb(75, 185, 248);
  background-color: rgb(75, 185, 248);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.pag-link-active {
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  line-height: 19px;
  fill: rgb(75, 185, 248);
  background-color: rgb(75, 185, 248);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows {
  font-size: 20px;
  color: rgb(75, 185, 248);
}

.description {
  padding: 20px 0;
}

.description-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description-title {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.description-title h1 {
  font-family: "services", Arial, Helvetica, sans-serif;
  color: #222222;
  font-size: 30px;
  margin: 0 10px;
}
.description-title svg {
  fill: rgb(188, 190, 192);
}

.description-header {
  list-style: none;
  padding-bottom: 25px;
}

.article {
  font-size: 18px;
  font-family: "services";
}

.description-screenshot {
  width: 100%;
  border-radius: 20px;
  padding-bottom: 20px;
}

.description-text {
  font-size: 18px;
  text-align: justify;
  text-indent: 30px;
  padding-bottom: 20px;
}

.platform {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manual {
  padding-left: 10px;
}

.page-footer {
  background-color: rgb(222, 231, 242);
}

.footer-wrap {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .team {
    display: none;
  }
}

.footer-nav {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-network {
  text-decoration: none;
  background-color: rgb(75, 185, 248);
  border-radius: 8px;
  color: white;
  width: 32px;
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-network:hover {
  background-color: rgb(50, 129, 226);
  transition-duration: 0.5s;
}/*# sourceMappingURL=style.css.map */