.programsList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.programLink {
  text-decoration: none;
  color: black;
}

.programLink .programItem {
  width: 160px;
  height: 200px;
  background-color: rgb(222, 231, 242);
  padding-bottom: 10px;
  outline: 1px solid rgb(50, 129, 226);
  text-decoration: none;
}

.programImg {
  margin-bottom: 20px;
  width: 160px;
  height: 110px;
}

.programInfo {
  padding: 0 10px;
  text-align: center;
}

.programInfo h4 {
  font-size: 22px;
  margin-bottom: 16px;
}

.programInfo p {
  font-size: 14px;
}
