.Program {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.Program img {
  width: 400px;
  height: 400px;
}

.programInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.programInfo h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "services";
}
