@import '../../../src/scss/variables';

.select__wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.38);
        margin-bottom: 5px;
        span{
            color: $int-red;
        }
    }
    select{
        width: 290px;
        height: 35px;
        background: #F2F3F5;
        border: 1px solid #A9AAC2;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $text-black;
    }
}
