.pageFooter {
  background-color: rgb(222, 231, 242);
}

.footerWrap {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 1140px;
  margin: 0 auto;
}

.footerNav {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialNetwork {
  text-decoration: none;
  background-color: rgb(75, 185, 248);
  border-radius: 8px;
  color: white;
  width: 32px;
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialNetwork:hover {
  background-color: rgb(50, 129, 226);
  transition-duration: 0.5s;
}