.pageFooter {
  background-color: #dee7f2;
}

.footerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding: 12px 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.socialNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  background-color: #4bb9f8;
  border-radius: 8px;
}

.socialNetwork:hover {
  background-color: #3281e2;
  transition-duration: 0.5s;
}
