.description {
  padding: 20px 0;
}

.description-wrap {
  @include flex-direction-column;

  // outline: 1px solid red;
}

.description-title {
  padding-bottom: 50px;

  @include flex-position;

  & h1 {
    margin: 0 10px;
    color: $font-color;
    font-size: 30px;
    font-family: "services", "Arial", "Helvetica", sans-serif;
  }

  & svg {
    fill: rgb(188, 190, 192);
  }
}

.description-header {
  padding-bottom: 25px;
  list-style: none;
}

.article {
  font-size: 18px;
  font-family: "services", "Arial", "Helvetica", sans-serif;
}

.description-screenshot {
  width: 100%;
  padding-bottom: 20px;
  border-radius: 20px;
}

.description-text {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: justify;
  text-indent: 30px;
}

.platform {
  padding-right: 10px;

  @include flex-direction-column;
}

.flex {
  @include flex-position;
}

.manual {
  padding-left: 10px;
}
