.programs-items {
  padding-top: 40px;
  padding-bottom: 20px;
}

.programs-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  list-style: none;

  @media (max-width: $tablet-breakpoint) {
    gap: 20px;
  }
}

.program-link {
  text-decoration: none;
}

.program-item {
  padding: 15px 15px 0 15px;
  width: 200px;
  height: 280px;
  background-color: $background-color;
  text-decoration: none;
  border-radius: 20px;
  @include flex-direction-column;
  outline: 1px solid $btn-color;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: $shadow;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 300px;
    height: 220px;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;

    &:hover {
      box-shadow: $shadow;
    }
  }
}

.program-img {
  border-radius: 20px;
  background-color: rgb(176, 194, 214);
  width: 150px;
  height: 150px;
}

.program-info {
  padding: 15px 0 10px 0;
  text-align: center;
  color: $font-color;
}

.program-name {
  font-family: "services";
  font-size: 30px;
  margin-bottom: 10px;
}

.os {
  font-size: 14px;
  margin-bottom: 10px;
}

.raiting {
  font-weight: bold;
  color: rgb(176, 194, 214);
}

.pagination-alignment {
  @include flex-position(center);
  padding-top: 40px;
}

.pagination {
  width: 180px;
  height: 30px;
  list-style: none;
  padding: 5px 0;
  border-radius: 5px;
  gap: 5px;
  @include flex-position();
}

.pag-link {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  line-height: 19px;
  fill: $btn-color;

  &:hover {
    text-decoration: underline;
    fill: $btn-color;
    background-color: $btn-color;
    border-radius: 50%;
    @include flex-position(center);
    transition-duration: 0.3s;
  }
}

.pag-link-active {
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  line-height: 19px;
  fill: $btn-color;
  background-color: $btn-color;
  border-radius: 50%;
  @include flex-position(center);
}

.arrows {
  font-size: 20px;
  color: $btn-color;
}
