.services {
  padding: 20px 0;
}

.services-wrap {
  @include flex-direction-column;

  & h1 {
    padding-bottom: 30px;
    color: $font-color;
    font-size: 30px;
    font-family: "services", "Arial", "Helvetica", sans-serif;
  }
}

.service-form {
  @include flex-direction-column;
}

.form-field {
  width: 500px;
  height: 30px;
  padding: 12px 30px 12px 16px;
  font-size: 16px;
  background-color: $background-color;
  border: none;
  border-radius: 10px;

  @media (max-width: $mobile-breakpoint) {
    width: 300px;
  }
}

.sevice-filter {
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    @include flex-direction-column;
  }
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: $btn-color;

  &:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    fill: $color-hover;
  }

  @media (max-width: $mobile-breakpoint) {
    right: 10px;
  }
}

.service-form-submit {
  width: 530px;
  padding: 16px 0;

  @include flex-position(space-around);

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.form-submit {
  @include btn;

  &:hover {
    background-color: $color-hover;
    cursor: pointer;
    transition-duration: 0.5s;
  }
}
