.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination button {
  padding: 10px;
  border: none;
  border-radius: 20px;
}


.active {
  background-color: rgb(50, 129, 226);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 20px;
}
