@import "../../scss/variables";
@import "../../scss/mixins";

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 140px;
  background-image: url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f4f4f4;
  border-bottom: 1px solid rgb(75, 185, 248);
  &__wrap {
    height: 140px;
    @include flex-position();

    @media (max-width: $desktop-width) {
      @include flex-position(center);
    }
  }

  &__logo img {
    @media (max-width: $tablet-breakpoint) {
      width: 200px;
    }

    @media (max-width: $mobile-breakpoint) {
      @include flex-position(center);
    }
  }
}

.headerSystemName a {
  margin-top: 10px;
}

.systemNameText {
  margin: 0 auto;
  color: #000000;
  font-size: 28px;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
  // outline: 1px solid tomato;

  @media (max-width: $tablet-breakpoint) {
    width: $tablet-width;
  }

  @media (max-width: $mobile-breakpoint) {
    width: $mobile-width;
  }
}
