@import "../../scss/variables";

.wrapper {
  display: flex;
  align-items: flex-start;

  &__sidebar {
    width: 190px;
    height: 768px;

    // padding-left: 20px;
    overflow: hidden;
    color: $colorText;
    line-height: 17px;
    background-color: $darkBlue;
  }

  &__content {
    flex: 1 1;
    width: $withHeader;
  }
}
