$black: #000000;

$bodyColor: #E5E5E5;
$darkBlue: #003B72;
$blue: #50CAFF;
$colorDark: #333333;
$purple: #7761FF;
$purpleLight: #EBE7FF;
$colorCart: white;
$colorText: #FFFFFF;


$container-width: 90%;

$duration: 0.15s;

$withHeader: 1176px;
$widthSite: 1366px;
$widthSiteSml: 736px;
$maxWidth: 1366px;
$maxWidthChannel: 1196px;
$gapGrid: 20px;
$contentCol4: ($widthSite - 2 * $gapGrid) / 3;


$text-white: #FFFFFF;
$text-black: #000000;
$text-purple: #3281e2;
$text-whiteblue: #EEF4FF;
$int-black: #202225;
$int-white: #FFFFFF;
$int-red: #FF4E43;
$int-green: #66C676;
$int-purple: #A9AAC2;
