$black: #000000;
$body-color: #e5e5e5;
$dark-blue: #003b72;
$blue: #50caff;
$color-dark: #333333;
$purple: #7761ff;
$purple-light: #ebe7ff;
$color-cart: #ffffff;
$color-text: #ffffff;

// сделать комментарий
$container-width: 90%;

// сделать комментарий
$duration: 0.15s;

// сделать комментарий
$with-header: 1176px;
$width-site: 1366px;
$width-site-sml: 736px;
$max-width: 1366px;
$max-width-channel: 1196px;
$gap-grid: 20px;
$content-col4: ($width-site - 2 * $gap-grid) / 3;

// сделать комментарий
$text-white: #ffffff;
$text-black: #000000;
$text-purple: #3281e2;
$text-white-blue: #eef4ff;
$int-black: #202225;
$int-white: #ffffff;
$int-red: #ff4e43;
$int-green: #66c676;
$int-purple: #a9aac2;


// Переменные

//Цвета
$font-color: #222222;
// $main-color: rgb(50, 129, 226);

$btn-color: rgb(75, 185, 248);
//  $contour-color: #00bea4;
// $contour-color: white;

$background-color:rgb(222, 231, 242);

$color-hover:rgb(50, 129, 226);
// $color-hover:#00bea4;


//Tень

$shadow: 10px 5px 5px rgb(50, 129, 226, 0.21);


// breack-point (десктопный, планшетный, мобильный)
$desktop-width: 1140px;
$tablet-width: 735px;
$mobile-width: 375px;

$tablet-breakpoint: 1172px;
$mobile-breakpoint: 767px;
