// Переменные

// Цвета
$font-color: #222222;
$btn-color: #56baed;
$background-color: #dee7f2;
$color-hover: #39ace7;

// $color-hover: #3281e2;

// Tень
$shadow: 10px 5px 5px #3281e236;

// breack-point (десктопный, планшетный)
$desktop-width: 1140px;
$tablet-width: 735px;
$tablet-breakpoint: 1172px;
